h1{
    font-family: 'Black Han Sans', sans-serif;
    color: black;
    text-align: center;
    font-size: 90px;

}
h2{
    font: bold xx-large sans-serif;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
}

body{
    text-align: left;
    background-color: lightblue;
    font-family: "Times New Roman";
    font-size: 1em;
}

.header{
    padding: 3px;
    border-radius: 10px;
    color: lightblue;
}

.menu{
    background-color: gray;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: white;
    display: block;
    padding: 15px 57.5px;
    text-decoration: none;
}
.menu ul li a:hover{
    background-color: #42B881;
    border-radius: 10px;
}
.agrupar{
    width: 1100px;
    border: 1px solid black;
    margin: 0px auto;
    padding: 40px;
    border-radius: 10px;

}

nav{
    border: 1px solid black;
}

.imagen{
    float: left;
}
.imagen2{
    float: left;
    padding-bottom: 20px;
    padding-top: 20px;
}
