h1 {
    font-family: 'Black Han Sans', sans-serif;
    color: black;
    text-align: center;
    font-size: 90px;

}

h2 {
    font: bold xx-large sans-serif;
    text-align: center;
    font-family: 'Alfa Slab One', cursive;
    font-size: 40px;
}

nav {
    border: 1px solid black;
}

body {
    font-family: 'Times New Roman', cursive;
    text-align: left;
    background: linear-gradient(to bottom, lightcyan, lightblue);
}

.agrupar {
    width: 1100px;
    background: linear-gradient(to bottom, lightcyan, lightblue);
    border: 1px solid black;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
}

.header {
    background: linear-gradient(to bottom, lightcyan, lightblue);
    padding: 3px;
    border-radius: 10px;
}

.menu {
    background-color: gray;
    font-family: 'Fredoka One', cursive;
    border-radius: 10px;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    color: white;
    display: block;
    padding: 15px 57px;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: #42B881;
    border-radius: 10px;
}

.seccion {
    margin: 20px;
    width: 1000px;
}

article {
    border: 1px solid grey;
    margin: 10px;
    padding: 10px;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    border-radius: 20px;
}

img {
    margin: auto;
    padding: 15px;
    display: block;
    border-radius: 30px;
}

footer {
    font-size: large;
    font-weight: 900;
    font-family: sans-serif;
    padding: 20px;
    background-color: gray;
    color: white;
    border-radius: 10px;
}

.imagen {
    float: left;
}

.imagen2 {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
}

#imagen1 {
    float: left;
    padding-bottom: 10px;
    padding-top: 10px;
    height: 200px;
}

input[type=submit] {
    padding: 5px 15px;
    background: #ccc;
    border: 0 none;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#canvas{
border:10px;
}

